{% extends "layout.html" %}
  {% block content %}
  <h1>Please answer the following questions about yourself so that we can generate a personalized password. </h1>
  <br><br>
    <form action='/response' class = "text" method = "post">
      What is your favorite number?<br>
      <input type="text" name="num">
      <br><br>
       What is your favorite food?<br>
      <input type="text" name="food">
      <br><br>
       What is your favorite sport?<br>
      <input type="text" name="sport">
      <br><br>
      <input type="submit" id="check">
    </form>
    {% endblock %}

